*{
    box-sizing: border-box;
}

body{
    background-color: ;
}

@font-face{
    font-family:"Work Sans";
    src: url(fonts/WorkSans.ttf);
}

@font-face{
    font-family:"DM Sans";
    src: url(fonts/DMSans.ttf);
}

h1{
    font-family:"Work Sans", Verdana, Arial;
    font-weight: bolder;
    font-size: 4em;
}

p{
    font-family: "DM Sans", 'Lucida Sans', 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;
}